Repository diskord-dev/diskord, pull requests merged in 2021-10, with the labels that each got.

#9 2.5.1 -- Slash Extensions & Refactor : Refactor application commands to have instance attributes instead of properties
  diskord/application_commands.py
Labels: good first issue, application commands

#11 Added `extras` attribute to Option class and ApplicationCommand class.
  diskord/application_commands.py
Labels: feature request, application commands, hacktoberfest-accepted

#14 Refactor/application commands
  diskord/application_commands.py
  diskord/ext/commands/cog.py
  docs/api.rst
Labels: implemented

#15 Implement slash command options autocompletion
  diskord/application_commands.py
  diskord/client.py
  diskord/enums.py
  diskord/interactions.py
  diskord/types/interactions.py
Labels: feature request
